<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" href="src/app.css">

    <title>Vue Todo App</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Todo Application
                        </div>
                        <form action="" class="card-block m-0" @submit.prevent="add(todo)">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Add todo" v-model="todo">
                                <span class="input-group-bt">
                                    <button class="btn btn-primary" type="submit" :disabled="!isTodoValid"> Add</button>
                                </span>
                            </div>
                        </form>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-block" v-for="todo in todos">
                                <!-- Add Todo -->
                                <div class="d-flex" v-if="!todo.isEdited">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" name="" id="" v-model="todo.finished">
                                    </label>
                                    <span :class="{'todo-finished': todo.finished}"> {{ todo.content }}</span>
                                    <div class="ml-auto btn-group">
                                        <button class="btn btn-sm btn-primary" @click="edit(todo)" v-if="!isTodoBeingEdited">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" @click="remove(todo)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Edit Todo  -->
                                <form class="m-0" v-else @submit.prevent="update(todo)">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Edit" v-model="editTodo">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-primary" type="submit" :disabled="!isEditTodoValid">
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-danger" type="submit" @click="remove(todo)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="src/app.js"></script>
</body>
</html>